@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

/* Reset default padding, margin, and box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', cursive;
    border: groove brown;
}

/* Set the background color of the body */
body {
    transition: 0.1s;
}



/* Define the main container */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:35rem;
    height:15rem;
    background-color: cornsilk;
    padding: 10px;
    border-radius: 10px;
    border: groove;
    border-color: brown;
    border-width: 10px;
    font-size: 40px;
    text-align: center;
}
button{
    margin-top: 5px;
    width: 100%;
    background-color: black;
    color: chartreuse;
    display: block;
    font-size: 40px;
    border: 5px;
}